   .modal-95 .modal-dialog
        {
            width: 95%; /* or whatever you wish */
        }
        
           .modal-85 .modal-dialog
        {
            width: 85%; /* or whatever you wish */
        }
        
           .modal-75 .modal-dialog
        {
            width: 75%; /* or whatever you wish */
        }
        
           .modal-65 .modal-dialog
        {
            width: 65%; /* or whatever you wish */
        }
        
           .modal-55 .modal-dialog
        {
            width: 55%; /* or whatever you wish */
        }
        
          .modal-100 .modal-dialog
        {
            width: 100%; /* or whatever you wish */
        }
        